package components

import "github.com/thomas-marquis/goLLMan/internal/domain"

templ bookCard(book domain.Book) {
    <div class="flex items-center p-3 border-b border-gray-200 dark:border-gray-700 hover:bg-primary-100 dark:hover:bg-gray-700 transition-colors">
        <div class="flex items-center mr-2">
            <input 
                type="checkbox"
                id={"book-" + book.ID}
                checked?={book.Selected}
                class="w-4 h-4 text-primary-500 bg-gray-100 border-gray-300 rounded focus:ring-primary-500 dark:focus:ring-primary-400 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                hx-post={"/books/" + book.ID + "/toggle"}
                hx-swap="none"
            />
        </div>
        <div class="flex-1">
            <h3 class="text-sm font-medium text-gray-900 dark:text-white">{book.Title}</h3>
            <div class="flex items-center mt-1">
                switch book.Status {
                case domain.StatusIndexing:
                   <span class="px-2 py-1 text-xs font-medium text-yellow-800 bg-yellow-100 rounded-full dark:bg-yellow-900 dark:text-yellow-300">Indexing</span>
                case domain.StatusIndexed:
                    <span class="px-2 py-1 text-xs font-medium text-green-800 bg-green-100 rounded-full dark:bg-green-900 dark:text-green-300">Indexed</span>
                case domain.StatusError:
                    <span class="px-2 py-1 text-xs font-medium text-red-800 bg-red-100 rounded-full dark:bg-red-900 dark:text-red-300">Error</span>
                default:
                    <span class="px-2 py-1 text-xs font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-900 dark:text-gray-300">Unknown</span>
                }
            </div>
        </div>
    </div>
}

templ BooksLibrary(books []domain.Book) {
    <div class="h-full overflow-y-auto">
        <div class="p-4 border-b border-gray-200 dark:border-gray-700 flex justify-between items-center">
            <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Livres</h2>
            <button
                type="button"
                class="px-3 py-1.5 bg-primary-500 text-white rounded-lg hover:bg-primary-400 transition-colors text-sm font-medium flex items-center"
                @click="$dispatch('openuploadmodal')"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
                Add
            </button>
        </div>
        <div class="divide-y divide-gray-200 dark:divide-gray-700">
            for _, book := range books {
                @bookCard(book)
            }
        </div>
    </div>
}


