package components

import "fmt"

func getMessageStyle(role string) (messageClass, bgColor, alignmentClass string) {
    if role == "user" {
        messageClass = "bg-primary-200"
        bgColor = "bg-blue-500"
        alignmentClass = "flex justify-end items-end"
    } else if role == "model" {
        messageClass = "bg-primary-500 text-black"
        bgColor = "bg-green-500"
        alignmentClass = "flex justify-start items-start"
    }
    return
}

templ messageSideIcon(label, bgColor string, lgPos int) {
    <div class={"w-8", "h-8", "rounded-full", bgColor, "flex", "items-center", "justify-center", "text-white", "order-1", fmt.Sprintf("lg:order-%d", lgPos)}>
        {label}
    </div>
}

templ Message(role, content string) {
    {{messageClass, bgColor, alignmentClass := getMessageStyle(role)}}
    {{messageContent, err := convertToHTML(content)}}
    if err != nil {
        {{messageContent = content}}
    }

    <div class={alignmentClass}>
        <div class={alignmentClass, "flex-col", "lg:flex-row", "lg:items-start", "gap-2.5"}>
            if role == "user" {
                @messageSideIcon("Me", bgColor, 1)
            }
            <div class={"flex", "flex-col", "max-w-4xl", "order-2"}>
                <div class={messageClass, "p-3", "rounded-lg"}>
                    @templ.Raw(messageContent)
                </div>
            </div>
            if role == "model" {
                @messageSideIcon("AI", bgColor, 3)
            }
        </div>
    </div>
}