package components

templ Page() {
    <!DOCTYPE html>
	<html lang="en">
	    <head>
            <title>GoLLMan App | Chat With Books</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/htmx-ext-sse@2.2.2" integrity="sha384-yhS+rWHB2hwrHEg86hWiQV7XL6u+PH9X+3BlmS2+CNBaGYU8Nd7RZ2rZ9DWXgTdr" crossorigin="anonymous"></script>
        </head>
	    <body>
	        <div>
	            <div hx-ext="sse" sse-connect="/stream" hx-swap="beforeend" hx-target="#messages">
                    <ul id="messages" sse-swap="message">
                    </ul>
	            </div>

                <div>
                    <form hx-post="/messages"
                          hx-swap="none"
                          hx-trigger="submit">
                        <label>
                            <input type="text" name="question"/>
                        </label>
                        <button>Send</button>
                    </form>
                </div>
	        </div>
	    </body>
	</html>
}
